@import 'functions.scss';

@mixin padded-block($padding: $base-spacing) {
  display: inline-block;
  padding: $padding calc($padding * 2);
}

@mixin button($colour: transparent) {
  @include padded-block;
  text-transform: none;
  text-align: center;
  white-space: nowrap;
  color: contrasting-bw($colour);
  background-color: $colour;
  cursor: pointer;
  outline: none;

  @if ($colour == transparent) {
    transition: opacity $base-delay ease;
    opacity: 0.6;

    &:hover,
    &:focus {
      opacity: 1;
    }
  } @else {
    transition: background-color $base-delay ease;

    &:hover,
    &:focus {
      background-color: darken($colour, 15%);
      color: contrasting-bw(darken($colour, 15%));
    }
  }
}

@mixin gradient-bg($colour) {
  background: linear-gradient(
    45deg,
    rgba($colour, 0),
    rgba($colour, 0.5) 25%,
    $colour 50%,
    rgba($colour, 0.5) 75%,
    rgba($colour, 0)
  );
}
