// Greyscale
$white: #fff;
$lightest-grey: #f0f2f5;
$lighter-grey: #dddee0;
$light-grey: #91929e;
$grey: #7d8592;
$black: #0a1629;

// Identity
$primary: #713fff;
$secondary: $light-grey;

// State
$danger: #f65160;
$warning: #ffbd21;
$ok: #0ac947;

// Other
$base-spacing: 0.5rem;
$base-delay: 0.2s;
